// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import "tweaks-temp";
@import "color-palette";

@function fade($c) {
  @return mix($c, $grey_darker, 50%);
}

@function theme($color) {
  @if ($theme == "default") {
    @return $black-lighter;
  }
}

// Foreground colors
$dark_fg_color: rgba($black, 0.87);
$light_fg_color: $white;
$button_fg_color: rgba($white, 0.8); // extra fg color for raised buttons

$fg_color: rgba($white, 0.9);
$secondary_fg_color: rgba($white, 0.7);
$hint_fg_color: rgba($white, 0.5);
$disabled_fg_color: rgba($white, 0.5);
$disabled_secondary_fg_color: rgba($white, 0.3);
$track_color: rgba($white, 0.1);
$visit_color: rgba($white, 0.08);
$divider_color: rgba($white, 0.06);

$titlebar_fg_color: $white;
$titlebar_secondary_fg_color: rgba($white, 0.7);
$titlebar_hint_fg_color: rgba($white, 0.5);
$titlebar_disabled_fg_color: rgba($white, 0.5);
$titlebar_disabled_secondary_fg_color: rgba($white, 0.3);
$titlebar_track_color: rgba($white, 0.1);
$titlebar_divider_color: rgba($white, 0.06);

$inverse_fg_color: rgba($white, 0.85);
$inverse_secondary_fg_color: rgba($white, 0.7);
$inverse_hint_fg_color: rgba($white, 0.5);
$inverse_disabled_fg_color: rgba($white, 0.5);
$inverse_disabled_secondary_fg_color: rgba($white, 0.3);
$inverse_track_color: rgba($white, 0.3);
$inverse_divider_color: rgba($white, 0.15);

// Background colors
$base_color: $black;
$alt_base_color: $black-darker;

$dark_bg_color: rgba($base_color, 0.9);
$alt_dark_bg_color: rgba($base_color, 0.75);
$inverse_bg_color: rgba($inverse_fg_color, 0.13);
$button_bg_color: rgba(white, 0.1);
$keyboard_bg_color: fade($grey-dark); // for gnome-shell keyboard
$alt_keyboard_bg_color: fade($grey-light); // for gnome-shell keyboard

// Misc colors
$primary_color: theme(color);
$alt_primary_color: darken($primary_color, 3%);
$accent_color: lighten($primary_color, 3%);

$panel_bg: $black;
$panel_bg_color: if($opacity == "default", rgba(black, 0.5), $panel_bg);
$panel_fg_color: #dedede;
$menu_bg_color: if($opacity == "default", rgba($base_color, 0.95), $base_color);
$system_bg_color: $black;

$link_color: $primary_color;
$visited_link_color: $blue;

$warning_color: $yellow;
$error_color: $red;
$success_color: $green;

$suggested_color: $accent_color;
$destructive_color: $red;

$info_bg_color: $green;
$question_bg_color: $blue;
$warning_bg_color: $yellow;
$error_bg_color: $red;

$border_color: rgba($white, 0.12);
$highlight_color: rgba($white, 0.1);
$alt_highlight_color: rgba($white, 0.2);