//Normal
$red: #E5A3A1;
$pink: #FFDEDE;
$green: #B4E3AD;
$yellow: #ECE3B1;
$blue:#A3CBE7;
$purple: #CEACE8;
$cyan: #C9D4FF;

// Light
$red-light: #F9B7B5;
$green-light: #C8F7C1;
$yellow-light: #FFF7C5;
$blue-light: #B7DFFB;
$purple-light: #E2C0FC;
$cyan-light: #DDE8FF;

// Black
$black: #1B1F23;
$black-darker: #161A1E;
$black-lighter: #22262A;

// Grey
$grey-lightest: #5D6165;
$grey-lighter: #54585C;
$grey-light: #4B4F53;
$grey: #43474B;
$grey-dark: #393D41;
$grey-darker: #2F3337;
$grey-darkest: #25292D;

// White
$white: #F8F9FA;